.checkbox-label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-label__group {
  display: flex;
  align-items: center;
  gap: 5px;

  font-weight: 600;
  font-size: 10px;

  color: rgba(222, 221, 221, 1);
}

.checkbox-input_error {
  border-color: rgba(255, 0, 0, 1);
}
